VITE_AUDIT_URL=http://localhost:3200/nsa-accesstive
VITE_AUDIT_API_KEY=access_J8UhYb4xP9n2K7mTq5sZ3vL6w
VITE_AUDIT_TOKEN=70GtFdcZaq3wE8vR4xH2jY9bK1sX6pM5

VITE_AI_AUDIT_API_URL=https://dashboard.accesstive.com/api/v2/ai-solution
VITE_AI_AUDIT_API_KEY=QWlTb2x1dGlvbk1pZGRsZXdhcmU

VITE_AUDIT_EMAIL_VALIDATE_URL=https://dashboard.accesstive.com/api/v2/audit-email-validate
VITE_AUDIT_EMAIL_VALIDATE_API_KEY=2f4e6a1b7d8c9f0e1a2b3c4d5e6f7081

VITE_AUDIT_REPORT_URL=https://dashboard.accesstive.com/api/v2/audit-report
VITE_AUDIT_REPORT_API_KEY=2f4e6a1b7d8c9f0e1a2b3c4d5e6f7081